#contact{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2.5rem;
    height: 40vh;
    width: 80vw;
    gap: 10px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 200;
}

.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height:40px; */
    width: 50%;
    gap: 10px;
    
}

.contact-button{
    background-color: #788D7F;
    color: white;
    /* height: 40px; */
    width: 100%;
    border: none;
    padding: 2px;
    cursor: pointer;
    /* font-size: 15px; */
    font-weight: 200;
    border-radius: 5px;
    align-self: flex-end;
}

.contact-button:hover{
    font-weight: 600;
}

input{
    border: none;
    background-color:  rgb(201, 201, 201);
}

.form-element{
    display: flex;
    width: 100%;
}
.contact-label{
    width: 70px;
}

input[type=text], input[type=email]{
    font-size: 18px;
    line-height: 26px;    color: white;
    outline: none;
    width: 100%;
  }

input[type=text]:focus, input[type=email]:focus {
    background-color: #788D7F;
}

input[type="checkbox"], input[type="radio"]{
    margin-right: 37px;
}

.checbox-label{
    display: flex;
    width: 100%;
    font-size: 12px;
    line-height: 13px;
    margin-block: 20px;
}
.mail-box{
    width: 100%;
    flex-direction: column;
}
.mail-title{
    width: 200px;
}
.mail-text{
    height: 100px;
}


@media screen and (max-width: 450px) {
    #contact{
        flex-direction: column;
        padding-top: 0rem;
        height: 50vh;
        width: 80vw;
        gap: 20px;
        justify-content: flex-start;
        margin-top: 29px;
    }
    .contact-form{
        display: flex;
        width: 80vw;
        height:auto;
        gap: 10px;
    }
    #contact h2{
        height: 40px;
    }
    
    .contact-button{
        background-color: #788D7F;
        color: white;
        height: 20px;
        width: 80vw;
        border: none;
        padding: 2px;
        cursor: pointer;
        font-size: 6px;
        font-weight: 200;
        border-radius: 5px;
        align-self: flex-end;
    }
    
    .contact-button:hover{
        font-weight: 600;
        font-size: 6px;
    }
    
    input{
        border: none;
        background-color:  rgb(201, 201, 201);
    }
    
    .form-element{
        display: flex;
        width: 80vw;
    }
    .contact-label{
        width: 30vw;
        font-size: 10px;
    }
    
    input[type=text], input[type=email]{
        font-size: 6px;
        color: white;
        outline: none;
        width: 50vw;
      }
    
      input[type=text]:focus, input[type=email]:focus {
        background-color: #788D7F;
    }

    .checbox-label span{
        height: 80px;
    }
}

