.stripe{
    display: flex;
    width: 100vw;
    height: 14px;
    background-color: black;
    z-index: 100;
    top: 0;

}
.stripe-adress{
    color: white;
    font-size: 13px;
    font-weight: 600;
    line-height: 12px;
    padding: 0 5vw 20px 5vw;
    gap: 10vw;
    flex-direction: row;
    text-decoration: none;
}

.stripe-adress .fa-brands{
    font-size: 14px;
}


.first-page{
    display: flex;
    flex-direction: column;
    height: 92vh;
    width: 99vw;
    z-index: 0;
}
.first-page_img{
position: absolute;
top: 0;
background: url(/images/okolica/główne.JPEG);
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
background-attachment: fixed;
width: 100vw;
height: 99vh;
animation: zoom-forest 15s infinite linear;
}


@keyframes zoom-forest{
0%{
transform: translateX(0px);    
}
50%{
transform: translateX(-10px);    
}
100%{
transform: translateX(0px);    
}
}

.dot-arrow{
    display: flex;
    width: 99%;
    justify-content: center;
    position: absolute;
    bottom: -2vh;
    animation: dot_shadow 2s infinite linear;
    z-index: 100;
}
#dot{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    background-color:rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: rgb(255, 255, 255) 1px 0px 1.5px;
}

#arrow{
    color: black;
    font-size: 1rem;
}


@media screen and (max-width: 1500px) {

}
  
@media screen and (max-width: 800px){
    .stripe{
        width: 100%;
    }   
}

@media screen and (max-width: 450px) {

    .stripe{
        width: 100%;
    }   
    .stripe-adress{
        font-size: 10px;
        font-weight: 600;
        width: 100vw;
        line-height: 10px;
        padding: 0 0 0 4vw;
        gap: 0;
    }
    .first-page{
        height: 88vh;
        /* width: 100%; */
    }
    .first-page_img{
        height: 92vh;
        /* width: 100%; */
        /* animation: none; */
    }
    #dot{
        height: 3vh;
        width: 3vh;
    }
    .dot-arrow{
        height: 5vh;
        bottom: 3vh;
    }

    #arrow{
        font-size: 1.5vh;
    }
    @keyframes dot_shadow{
        0%{
            bottom: 1.5vh;
    
        }
        50%{
            bottom: 2vh;
    
        }
        100%{
            bottom: 1.5vh;
        }
    }

}