.first-page{
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: 100vw;
    z-index: 0;
    /* position: absolute; */
}
.first-page_img{
position: absolute;
top: 0;
background: url(/images/okolica/główne.JPEG);
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
background-attachment: fixed;
width: 100vw;
height: 100vh;
}

.dot-arrow{
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: -5vh;
    z-index: 100;
}
#dot{
    height: 1.5rem;
    width: 1.5rem;
    background-color:rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: rgb(255, 255, 255) 1px 0px 1.5px;
}


/* 
 .nav-href{
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: -5vh;
}
#dot{
    height: 1.5rem;
    width: 1.5rem;
    background-color:rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: rgb(255, 255, 255) 1px 0px 1.5px;
} */

