.footer-container{
    display: flex;
    align-items: center;
    background-color: black;
    width: 95vw;
    height: 50px;
    color: white;
    font-size: 12px;
    justify-content: space-between;
    padding-inline: 5vw;

}

.social-media{
    padding-right: 40px;
}

.instagram{
  padding: 15px;
  padding-right: 25px;
}
.facebook{
  padding: 15px;
  padding-right: 25px;
}
.fa-brands{
    color: white;
    font-size: 20px;
}

.footer-policy{
  text-decoration: none;
  color: white;
}



@media screen and (max-width:720px) {
  .footer-container{
    font-size: 10px;
  }
    #cookiebanner a.c-button { 
      width:100%; 
      box-sizing:border-box; 
      text-align:center; 
      margin-bottom:5px;} 
    #c-right { 
      float:none;
    }
    #c-left { 
      float:none;
    }   
    #cookiebanner p.c-message { 
      margin-bottom:5px;
    }   
  }    
  
  @media screen and (min-width:720px) {
    #cookiebanner #c-left { 
      float:left; 
      max-width:80%;
    }
    #cookiebanner #c-right { 
      float:right; 
    }
  }
  
  #cookiebanner { 
    box-sizing: border-box; 
    display: flex;
    justify-content: space-between;
    background-color:rgb(35, 35, 35); 
    opacity: 0.9; width:100%; 
    padding: 5px;
    /* position:absolute; */
    position: fixed;
    z-index: 2147483645; 
    bottom:0;
  }
  #cookiebanner p { 
    font-size: 14px; 
    line-height: 1.4;
    margin-left: 20px;
    padding: 10px;
  }
  #cookiebanner .c-header { 
    text-transform:uppercase; 
    color:#fff; 
    margin-bottom: 2px;
  }
  #cookiebanner p.c-message {
    font-size: 12px; 
    color:#999;
    margin-left: 20px;
  }
  #cookiebanner a { 
    font-weight:bold; 
    color:#999;
  }
  #cookiebanner a:hover { 
    color:#fff;
  }
  
  #cookiebanner a.c-button { 
    display: flex;
    align-content: center;
    width: 40px;
    height: 15px;
    border-radius: 1px;
    background-color: rgb(255,255,255);
    border:1px solid rgb(221,221,221);
    padding:2px 6px;
    text-decoration:none;
    display:inline-block;
    vertical-align:middle;
    margin-top:2px;
    color:#666;
    font-size:12px;
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
  }
  
  #cookiebanner a.c-button:hover { 
    color: black;
  }