#gallery-href{
    transform: translateY(-30px);
}

.gallery-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 74vh;
    width: 75vw;
    padding-top: 5px;
}

.large-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-bottom: 20px;
    overflow-x: hidden;
    scrollbar-width: none;
}


.large-images img {
    height: 60vh;
    width: 30vw;
    object-fit: cover;
    border-radius: 10px;
}


.gallery-button {
    background-color: white;
    height: 40px;
    width: 30px;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
}

.gallery-button:hover {
    background: #e4e4e4;
}

.gallery-button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    color: white;
}

.thumbnail-container {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.thumbnails {
    display: flex;
    overflow-x: auto;
    height: 20vh;
    gap: 10px;
    flex-grow: 1;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.thumbnail-container button {
    background-color: transparent;
    cursor: pointer;
    height: 40px;
    width: 30px;
    padding: 5px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
}

.thumbnails img {
    height: 15vh;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s, border-color 0.2s;
    scroll-behavior: smooth;

}

.thumbnails img.active {
    border: 1px solid #333;
}


.thumbnail {
    height: 40px;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
}

.large-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-bottom: 20px;
    overflow: hidden; /* Aby ograniczyć widoczność poza kontenerem */
}



/* @media screen and (max-width: 1500px) {

}
  
@media screen and (max-width: px){

} */

@media screen and (max-width: 450px) {
    #gallery {
        /* height: 85vh; */
        width: 93vw;
        margin-right: 5px;
        padding-block: 2vw;
        align-items: center;
    }
    .gallery-container{
        width: 96vw;
    }
    .large-images {
        gap: 2%;
        margin-bottom: 5px;
        width: 93vw;
    }
    .large-images img {
        height: 60vh;
        width: 8vw;
        border-radius: 10px;
    }
    
    #large2 {
        height: 60vh;
        width: 82vw;
        border-radius: 10px;
    }
    
    .thumbnail-carousel {
        height: 15vh;
        gap: 7px;
    }
    
    .thumbnails {
        height: 13vh;
        gap: 9px;
        flex-grow: 1;
    }
    .thumbnail {
        height: 12vh;
    }
    .thumbnails img {
        height: 12vh;
    }
    .thumbnail:hover {
        transform: scale(1.1);
    }
    .gallery-button {
        height: 40px;
        width: 30px;
        padding: 5px;
        font-size: 15px;
        border-radius: 5px;
    }
}


