#gallery-href{
    transform: translateY(-30px);
}

.gallery-container {
    display: flex;
    flex-direction: column;
    height: 86vh;
    width: 75vw;
    padding-top: 5px;
}

.large-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-bottom: 20px;
    overflow-x: hidden;
    scrollbar-width: none;
}
/* #large2{
    display: flex;
    align-self: center;
    justify-self: center;
} */

.large-images img {
    height: 60vh;
    width: 30vw;
    object-fit: cover;
    border-radius: 10px;
}

/* .thumbnail-carousel {
    display: flex;
    align-items: center;
    height: 40px;
    gap: 10px;
    position: relative;
} */

.thumbnails {
    /* display: flex;
    overflow-x: auto;
    height: 40px;
    gap: 10px;
    flex-grow: 1;
    scroll-behavior: smooth;
    scrollbar-width: none; */
}

/* .thumbnail {
    height: 40px;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s, border-color 0.2s;
}

.thumbnail:hover {
    transform: scale(1.1);
} */

.gallery-button {
    background-color: white;
    height: 40px;
    width: 30px;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
}

.gallery-button:hover {
    background: #e4e4e4;
}

.gallery-button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    color: white;
}


@media screen and (max-width: 1500px) {

}
  
@media screen and (max-width: px){

}

@media screen and (max-width: 450px) {

    #gallery {
        height: 85vh;
        width: 90vw;
        margin-right: 5px;
        padding-top: 6vw;

    }
    .large-images {
        gap: 2%;
        margin-bottom: 5px;
    }
    .large-images img {
        height: 60vh;
        width: 60vw;
        border-radius: 10px;
    }
    
    .thumbnail-carousel {
        height: 40px;
        gap: 7px;
    }
    
    .thumbnails {
        height: 40px;
        gap: 9px;
        flex-grow: 1;
    }
    
    .thumbnail {
        height: 40px;
    }
    
    .thumbnail:hover {
        transform: scale(1.1);
    }
    
    .gallery-button {
        height: 40px;
        width: 30px;
        padding: 5px;
        font-size: 15px;
        border-radius: 5px;
    }
}





/* .gallery-container {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
}

.large-images {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.large-images img {
    width: 30%;
    margin: 0 10px;
    border: 5px solid #ccc;
} */

.thumbnail-container {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: flex;
    align-items: center;
    height: 40px;
    gap: 10px;
    position: relative;
}

.thumbnails {
    /* display: flex;
    overflow-x: auto;
    max-width: 80%;
    padding-bottom: 10px;
    margin: 0 10px; */
    display: flex;
    overflow-x: auto;
    height: 40px;
    gap: 10px;
    flex-grow: 1;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.thumbnail-container button {
    background-color: transparent;
    cursor: pointer;
    height: 40px;
    width: 30px;
    padding: 5px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
}

.thumbnails img {
    /* width: 100px;
    height: 75px;
    object-fit: cover;
    margin: 0 5px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s; */
    height: 36px;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s, border-color 0.2s;
    scroll-behavior: smooth;

}

.thumbnails img.active {
    border: 1px solid #333;
}


.thumbnail {
    height: 40px;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
}

.large-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-bottom: 20px;
    overflow: hidden; /* Aby ograniczyć widoczność poza kontenerem */
}

