#logo{
    display: flex;
    width: 18vw;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 100;
    /* transform: translateX(95px); */
}
.header1{
    position: sticky;
    margin: 0;
    font-family: "KoHo", serif;
    font-weight: 600;
    font-style: normal;
    color: rgb(0, 0, 0);
 
}
.logo-main{
    line-height: 1.3rem;
    font-size: 1.5rem;
    
}
.logo-second{
    font-size: 0.5rem;
    margin-left: 1px;
}

.header-href{
    text-decoration: none;
}

@media screen and (max-width: 1500px) {
#logo{

    transform: translateX(85vw);
    width: 20vw;
}
}
  
@media screen and (max-width: 700px){
    #logo{
        transform: translateX(84vw);
        width: 20vw;
    }
}

@media screen and (max-width: 450px) {
    #logo{
        transform: translateX(79vw);
        width: 20vw;

    }
    .logo-main{
        line-height: 5.3vw;
        font-size: 5vw;
    }
    .logo-second{
        line-height: 2.2.vw;
        font-size: 2vw;
    }
}

@media screen and (max-width: 250px) {
    #logo{
        transform: translateX(75vw);
        width: 20vw;

    }
    .logo-main{
        line-height: 5.3vw;
        font-size: 5vw;
    }
    .logo-second{
        line-height: 2.2.vw;
        font-size: 2vw;
    }
}






