#logo{
    display: flex;
    width: 18vw;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 100;
    transform: translateX(90vw);
    margin-top: 20px;
}
.header1{
    position: sticky;
    margin: 0;
    font-family: "KoHo", serif;
    font-weight: 600;
    font-style: normal;
    color: rgb(0, 0, 0);
 
}
.logo-main{
    line-height: 27px;
    font-size: 35px;
}
.logo-second{
    font-size: 13px;
    margin-left: 1px;
}

.header-href{
    text-decoration: none;
}

/* @media screen and (max-width: 1500px) {
#logo{
    transform: translateX(85vw);
    width: 20vw;
    margin-top: 20px;
}
} */
 
@media screen and (max-width: 900px){
    #logo{
        transform: translateX(80vw);
        width: 13vw;
        margin-top: 15px;
    }
    
}

@media screen and (max-width: 780px){
    #logo{
        transform: translateX(70vw);
        width: 13vw;
        margin-top: 15px;
    }
    
}

@media screen and (max-width: 450px) {
    #logo{
        transform: translateX(79vw);
        width: 20vw;

    }
    .logo-main{
        line-height: 5.3vw;
        font-size: 5vw;
    }
    .logo-second{
        line-height: 2.2.vw;
        font-size: 2vw;
    }
}

@media screen and (max-width: 250px) {
    #logo{
        transform: translateX(75vw);
        width: 20vw;
        margin-top: 15px;
    }
    .logo-main{
        line-height: 5.3vw;
        font-size: 5vw;
    }
    .logo-second{
        line-height: 2.2.vw;
        font-size: 2vw;
    }
}






