.in-house_container{
    display: flex;
    width: 100vw;
    min-height: 85vh;
    max-height: auto;
    padding-top: 0;
}

.in-house_content{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #788D7F;
    color: white;
}
.in-house_text{
    font-size: 10px;
    font-weight: 200;
    margin-top: 40px;
    line-height: 15px;
}
.in-house_gallery{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    margin-left: 20px;
    margin-right: 5px;
}

img{
    height: 40vh;

}

.empty-element{
    display: none;
}

@media screen and (max-width: 450px) {
    .in-house_container{
        min-height: 85vh;
        margin-bottom: 0;
        padding-top: 6vw;
        width: 100vw;
        height: auto;
    }
    .in-house_header{
        margin-top: 2vw;
    }
    .in-house_content{
        padding: 5px;
        margin-bottom: 0;
    }
    .in-house_text{
        font-size: 3.5vh;
        font-weight: 200;
        min-width: 45vw;
        justify-content: space-around;
        margin-top: 15px;
        line-height: 4.5vh;
    }
    .in-house_gallery{
        margin-inline: 0.5vw;
        margin-bottom: 0;
    }
    .in-house_photo{
        max-height: 50vh;
    }
    .empty-element{
        display: block;
        height: 100%;
        background-color: #788D7F;
    }
}

@media screen and (max-width: 250px) {
    .in-house_text{
        font-size: 3.5vw;
        font-weight: 200;
        min-width: 65vw;
        justify-content: space-around;
        margin-top: 15px;
        line-height: 4.5vw;
    }
}