.aside-container{
    display: flex;
    height: 40px;
    width: 100vw;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 90;
    border-bottom: 0.2px solid #515151;
    border-radius: 0 0 20px 20px;
    opacity: 90%;
    box-shadow: 0.5px 0.5px 0.5px 0px rgb(0, 0, 0);

}
.aside-container:hover{
    opacity: 100%;
}
.menu_container{
    height: 100%;
    display: flex;
    flex-direction: row;
    width: 80%;
    gap: 3rem;
    margin-left: 20px;
    align-items: center;
    font-size: 18px;
}


.menu_element{
    height: 100%;
}

.menu_element a, .menu_element p{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    height: 100%;
    cursor: pointer;
}

nav a:hover,
nav p:hover{
    /* transform: scale(1.1); */
    text-decoration: underline solid rgb(94, 93, 93) 0.3px;
    text-underline-offset: 2px;
}

.menu-description-list{
    background-color: white;
    /* width: 100px; */
    height: 100px;
    display: flex;
    flex-direction: column;
    position: absolute;
    transform: translate(-3px, 0px);
    padding: 10px 10px 10px 5px;
    border-inline: black solid 0.2px;
    border-bottom: black solid 0.2px;
}

.hidden{
    display: none;
}


@media screen and (max-width: 1500px) {

}
  
@media screen and (max-width: 900px){
    .aside-container{
        height: 7.5vw;
        margin-top: 0;
        width: 100vw;
    }

    .menu_container{
        width: 50%;
        gap: 4%;
        margin-left: 5vw;
        font-size: 2.7vw;
    }
}

@media screen and (max-width: 450px) {
    .aside-container{
        height: 7.5vw;
        margin-top: 0;
        width: 100vw;
    }

    .menu_container{
        width: 50%;
        gap: 4%;
        margin-left: 5vw;
        font-size: 3.2vw;
    }
}