
.aside-container{
    display: flex;
    height: 2.3rem;
    width: 99vw;
    position: sticky;
    top: 0;
    margin-top: 10px;
    background-color: #ffffff;
    z-index: 90;
    border-bottom: 0.2px solid #515151;
    border-radius: 0 0 20px 20px;
}
.menu_container{
    display: flex;
    flex-direction: row;
    width: 80%;
    gap: 1rem;
    margin-left: 10px;
    align-items: center;
    font-size: 10px;
}


@media screen and (max-width: 1500px) {

}
  
@media screen and (max-width: 900px){

}

@media screen and (max-width: 450px) {
    .aside-container{
        height: 8vw;
        margin-top: 0;

    }

    .menu_container{

        width: 50%;
        gap: 4%;
        margin-left: 5vw;
        font-size: 3vw;
    }
}