/* POPRAWIONA + */



#price-href{
    transform: translateY(-30px);
}

#price-container2{
    display: flex;
    justify-content: center;
    width: 80vw;
    height: 85vh;
    margin-top: 10px;
    border-radius: 1%;
    gap: 5px;
}

.price-box{
    height: 100%;
    width: 50%;
    background-image: url(../images/price.webp);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2% 0 0 2%;
}

.price-list_box{
    height: 85vh;
    width: 50%;
    background-color: #788d7f;
    border-radius: 0 2% 2% 0;
}

.header3{
    height: 20%;
    padding: 50px 0 0 50px;
    color: black;
    font-size: 28px;
    line-height: 28px;    
    font-weight: 400;
}

#price-list, 
#price-list a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 30px;    
}

.additional-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #ccd3ce;
    margin-block: 10px;
    padding: 10px;
}

.additional_info{
    width: 80vw;
    margin-block: 20px;
    font-size: 18px;
    line-height: 25px;  
}

@media screen and (max-width: 900px){
    #price-href{
        transform: translateY(-15px);
    }

    #price-container2{
        width: 95%;
        min-height: 50vh;
        max-height: 70vh;
        padding-inline: 10px;
    }
    
    .price-box{
        width: 50%;
    }

    .price-list_box{
        height: 100%;
        width: 50%;
        padding-inline: 10px;
    }

    #price{
        text-align: center;
    }

    .header3{
        height: 20%;
        padding: 10px 0 10px 5px;
        font-size: 24px;
        line-height: 25px;    
    }

    .additional-box{
        width: 90%;
    }
}


@media screen and (max-width: 450px) {
    #price-href{
        transform: translateY(-15px);
    }

    #price-container2{
        width: 95%;
        min-height: 50vh;
        max-height: 70vh;
        padding-inline: 10px;
    }
    
    .price-box{
        width: 50%;
    }

    .price-list_box{
        height: 100%;
        width: 50%;
        padding-inline: 10px;
    }

    #price{
        text-align: center;
    }

    .header3{
        height: 20%;
        padding: 10px 0 10px 5px;
        font-size: 24px;
        line-height: 25px;    
    }

    .additional-box{
        width: 90%;
    }
}

