#surroundings{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 0.5rem;
    position: sticky;
}

.surroundings-img{
    top: 0;
    height: 100vh;
    z-index: -60;
    min-width: 100%;
}

.surroundings_text{
    width: 90vw;
    background-color: white;
    font-size: 18px;
    line-height: 26px;
    font-weight: 200;
    padding-block: 10px;
    z-index: 60;
}

@media screen and (max-width: 450px) {
    
    .surroundings_text{
        width: 95vw;
        font-size: 3.5vh;
        line-height: 4.5vh;
        padding-block: 10px;
        padding-inline: 10px;
    }
}

@media screen and (max-width: 300px) {
    
    .surroundings_text{
        width: 95vw;
        font-size: 3.5vh;
        line-height: 4.5vh;
        padding-block: 10px;
        padding-inline: 10px;

    }
}
